{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="content">
        <!-- #NAV_LINKS - Навигационные ссылки -->
        <div class="nav-links">
            <a href="/">Главная</a> <span class="separator">/</span> 
            <a href="{% url 'product_list' %}">Список продуктов</a> <span class="separator">/</span>
            <a href="#">Добавление продукта</a>
        </div>

        <!-- #BACK_LINK_ACTIONS - Ссылка назад -->
        <a href="{% url 'product_list' %}" class="back-link-actions">
            <i class="fas fa-arrow-left"></i> Перейти назад
        </a>
        
        <h1>Добавить продукт</h1>

        <!-- #FORM_CONTAINER - Контейнер формы создания -->
        <div class="form-container">

            <!--  Вставка уведомлений -->
            {% include 'notifications.html' with success_message="Продукт успешно добавлен!" %}

            <form action="{% url 'product_create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- #FORM_FIELDS - Поля формы -->
                <div class="form-fields">
                    {% for field in form %}
                        <p class="form-group">
                            {{ field.label_tag }}
                            {% if field.name == "image" %}
                                <!-- Поле загрузки изображения -->
                                <label class="custom-file-upload">
                                    <input type="file" name="{{ field.name }}" accept="image/*" id="{{ field.id_for_label }}">
                                    <span class="upload-button">Выбрать</span>
                                    <span class="file-name">Файл не выбран</span>
                                </label>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>

                <!-- Кнопка отправки -->
                <button type="submit" class="custom-button">
                    <i class="fas fa-plus"></i> Добавить продукт
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('.custom-file-upload input[type="file"]').addEventListener('change', function(e) {
        var fileName = e.target.files[0] ? e.target.files[0].name : 'Файл не выбран';
        document.querySelector('.custom-file-upload .file-name').textContent = fileName;
    });
</script>
{% endblock %}