{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="content">
        <!-- #NAV_LINKS - Навигационные ссылки -->
        <div class="nav-links">
            <a href="/">Главная</a> <span class="separator">/</span> <a href="{% url 'all_borrowed_books' %}">Список заказов</a> <span class="separator">/</span> 
            <a href="#">Создание заказа</a>
        </div>
        
        <!-- #BACK_LINK_ACTIONS - Ссылка назад -->
        <a href="{% url 'all_borrowed_books' %}" class="back-link-actions">
            <i class="fas fa-arrow-left"></i> Перейти назад
        </a>

        <h1>Создать заказ</h1>

        <!-- #FORM_CONTAINER - Контейнер формы создания -->
        <div class="form-container">

            <!--  Вставка уведомлений -->
            {% include 'notifications.html' with success_message="Заказ успешно создан!" %}

            <form action="." method="POST">
                {% csrf_token %}
                <!-- #FORM_FIELDS - Поля формы -->
                <div class="form-fields">
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endfor %}
                </div>
                
                <!-- Кнопка отправки -->
                <button type="submit" class="custom-button">
                    <i class="fas fa-plus"></i> Создать заказ
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}